[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"

[dev-packages]
pytest = "==3.9.2"
pylint = "==2.1.1"
mypy = "==0.641"
black = "==18.6b4"

[requires]
python_version = "3.6"
