{% extends 'users/base.html' %}
{% load crispy_forms_filters %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1 class="text-center">Adding Badge</h1>

            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

            Badges have names and presenters
            <form method="post" autocomplete="off">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col-6">
                        {{ page_form.name | as_crispy_field }}
                    </div>
                    <div class="col-6">
                        {{ page_form.presenter | as_crispy_field }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="col">
                        {{ page_form.user_set | as_crispy_field }}
                    </div>
                </div>
                <input class='btn btn-primary' type="submit" value="Save">
            </form>
            <div> {# end col #}
            </div>
            {# end row #}
{% endblock %}