{% extends 'users/base.html' %}

{% block content %}
    <h1>{{ person.name }}</h1>

    <h2>Badge List:</h2>

    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <ul>
        {% for badge in person.badge_set.all %}
            <li><a href="{% url "users:badge_detail" badge.id %}">{{ badge.name }} by {{ badge.presenter }}</li>
        {% endfor %}
    </ul>

    {#<form action="{% url 'users:badge_detail' badge.id %}">#}
    {#	<input type="submit" value="Add Badge">#}
    {#</form>#}
{% endblock %}